Body{
	background-color:#F5F5F5;
}
#titreac{
	background:#297FB8;
	padding:2%;
	width:100%;
	
}
#titreac h1{
	color:white;
	margin:0px;
}

nav{
	background-color:#3598DB;
	margin:0px;
	padding:1%;
}
ul li a{
	color:#7CCBFF;
	margin-left:15px;
	text-decoration:none;

}
ul li a:hover{
	color:white;
	text-decoration:none;
	border-bottom:solid;
	border-bottom-width: 4px;
}
ul li {
	display:inline-block;
	
}
main{
	display:flex;
	flex-direction:column;
	margin-top:2%;
}

section{
	box-shadow: 10px 5px 5px #C3C2BE;
	align-self:center;
	width:50%;
	margin-bottom: 1%;
	background-color:white;
}

section h1{
	padding:2%;
}

img{
	float:left;
	
}


#delay {
  font-size: 14px;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
}

#delay:hover {
  font-size: 36px;
}

.contener{
	display:flex;
	align-items: center;
	justify-content: center;
	margin-top:20%;

}
.Google {
  border-style: solid;
    border-radius: 10px;
  border-width: 1px;
  display: block;
  width: 300px;
  height: 300px;
  background-color: red;
  transition:background-color 2s, transform 2s;
  z-index:6;
  position:absolute;
  margin-top:6%;
}

.Google:hover {
  background-color: red;
  transform: translateX(100px);
}
.Facebook {
  border-style: solid;
    border-radius: 10px;
  border-width: 1px;
  display: block;
  width: 300px;
  height: 300px;
  background-color: #0000FF;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  z-index:5;
  position:absolute;
  transform: rotate(3deg);
  margin-top:5%;
}

.Facebook:hover {
  background-color: #0000FF;
  transform: translateX(200px);
}
.Discord {
  border-style: solid;
    border-radius: 10px;
  border-width: 1px;
  display: block;
  width: 300px;
  height: 300px;
  background-color: #1A0DAB;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  z-index:4;
  position:absolute;
  margin-top:4%;
  transform: rotate(10deg);

}

.Discord:hover {
  background-color: #1A0DAB;
  transform: translateX(200px);

}

.Insta {
  border-style: solid;
  transform: rotate(20deg);

  border-radius: 10px;
  border-width: 1px;
  display: block;
  width: 300px;
  height: 300px;
  background-color: #1da1f2;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  z-index:3;
  	position:absolute;
  	margin-top:3%;
}

.Insta:hover {
  background-color: #1da1f2;
  transform: translateX(200px);

}
.Twitter {
  border-style: solid;
  transform: rotate(30deg);

  border-radius: 10px;
  border-width: 1px;
  display: block;
  width: 300px;
  height: 300px;
  background-color: #1da1f2;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  z-index:2;
    position:absolute;
    margin-top:2%;
}

.Twitter:hover {
  background-color: #1da1f2;
  transform: translateX(2w00px);

}
.Snap {
  border-style: solid;
  transform: rotate(40deg);
  border-radius: 10px;
  border-width: 1px;
  display: block;
  width: 300px;
  height: 300px;
  background-color: #F2FF00;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  position:absolute;
  z-index:1;
  margin-top:1%;
}

.Snap:hover {
  background-color: #F2FF00;
  transform: translateX(200px);

}
#wrapper {
  width:260px;
  margin:100px auto;
}

/* general item styles */
.digit {
  position:relative;
  float:left;
  width:30px;
  height:40px;
  box-shadow:0 0 4px red;
  margin:0 4px;
}
.particle {
  position:absolute;
  background:blue;
  box-shadow:0 0 5px red;
}
.separator {
  position:relative;
  float:left;
  width:8px;
  margin:0 4px;
}
.dot {
  width:8px;
  height:8px;
  background:blue;
  box-shadow:0 0 5px green;
  border-radius:4px;
}

label, label:before, #fakeStop {
  display:block;
  position:absolute;
  margin:3px 0 0 -50px;
  padding:1px 3px;
  background:blue;
  border-radius:2px;
  width:32px;
  font-size:9px;
  cursor:pointer;
}
#fakeStop {
  cursor:default;
  opacity:.4;
}
label:before {
  content:attr(data-title);
  margin:-1px 0 0 -3px;
}
label[for=button2], #fakeStop {
  margin-top:24px;
}
label[for=button2], label:before,
#button1:checked ~ #fakeStop {
  display:none;
}
#button2:checked ~ label[for=button2] {
  margin-top:3px;
}
#button1:checked ~ label[for=button1]:before,
#button1:checked ~ label[for=button2],
#button2:checked ~ label[for=button2]:before,
#button1:checked ~ #button2:checked ~ #fakeStop {
  display:block;
}

/* positioning & dimensions */
.top {
  top:0;
}
.bottom {
  bottom:0;
}
.left {
  left:0;
}
.right {
  right:0;
}
.middle {
  top:17px;
}
.particle.top, .particle.middle, .particle.bottom {
  width:14px;
  height:5px;
  margin:0 0 0 8px;
}
.particle.middle {
  height:6px;
}
.particle.right, .particle.left {
  width:5px;
  height:8px;
  margin:7px 0 0 0;
}
.particle.bottom.right, .particle.bottom.left {
  margin:0 0 7px 0;
}
.dot.top {
  margin-top:8px;
}
.dot.bottom {
  margin-top:8px;
}

/* corners */
.particle:before, .particle:after {
  content:'';
  position:absolute;
  z-index:2;
  display:block;
  width: 0px;
  height: 0px;
  border-style: solid;
}
.particle.top:before {
  margin:0 0 0 -5px;
  border-width: 0 5px 5px 0;
  border-color:  #cc0 transparent transparent transparent;
}
.particle.top:after {
  margin:0 0 0 14px;
  border-width: 5px 5px 0 0;
  border-color: #cc0 transparent transparent transparent;
}


.particle.bottom:before {
  margin:0 0 0 -5px;
  border-width: 0 0 5px 5px;
  border-color: transparent transparent #cc0 transparent;
}
.particle.bottom:after {
  margin:0 0 0 14px;
  border-width: 5px 0 0 5px;
  border-color: transparent transparent transparent #cc0;
}

/* animations */
@keyframes initial-visible {
  0% {opacity:1;}
  100% {opacity:1;}
}

@keyframes initial-hidden {
  0% {opacity:.1;}
  100% {opacity:.1;}
}

@keyframes flash {
  0% {opacity:1;}
  49.999% {opacity:1;}
  50% {opacity:.1;}
  100% {opacity:.1;}
}

@keyframes top-10 {
  0% {opacity:1;}
  9.999% {opacity:1;}
  10% {opacity:.1;}
  19.999% {opacity:.1;}
  20% {opacity:1;}
  30% {opacity:1;}
  39.999% {opacity:1;}
  40% {opacity:.1;}
  49.999% {opacity:.1;}
  50% {opacity:1;}
  60% {opacity:1;}
  70% {opacity:1;}
  80% {opacity:1;}
  90% {opacity:1;}
  100% {opacity:1;}
}
@keyframes top-right-10 {
  0% {opacity:1;}
  10% {opacity:1;}
  20% {opacity:1;}
  30% {opacity:1;}
  40% {opacity:1;}
  49.999% {opacity:1;}
  50% {opacity:.1;}
  60% {opacity:.1;}
  69.999% {opacity:.1;}
  70% {opacity:1;}
  80% {opacity:1;}
  90% {opacity:1;}
  100% {opacity:1;}
}
@keyframes top-left-10 {
  0% {opacity:1;}
  9.999% {opacity:1;}
  10% {opacity:.1;}
  20% {opacity:.1;}
  30% {opacity:.1;}
  39.999% {opacity:.1;}
  40% {opacity:1;}
  50% {opacity:1;}
  60% {opacity:1;}
  69.999% {opacity:1;}
  70% {opacity:.1;}
  79.999% {opacity:.1;}
  80% {opacity:1;}
  90% {opacity:1;}
  100% {opacity:1;}
}
@keyframes middle-10 {
  0% {opacity:.1;}
  10% {opacity:.1;}
  19.999% {opacity:.1;}
  20% {opacity:1;}
  30% {opacity:1;}
  40% {opacity:1;}
  50% {opacity:1;}
  60% {opacity:1;}
  69.999% {opacity:1;}
  70% {opacity:.1;}
  79.999% {opacity:.1;}
  80% {opacity:1;}
  90% {opacity:1;}
  100% {opacity:1;}
}
@keyframes bottom-right-10 {
  0% {opacity:1;}
  10% {opacity:1;}
  19.999% {opacity:1;}
  20% {opacity:.1;}
  29.999% {opacity:.1;}
  30% {opacity:1;}
  40% {opacity:1;}
  50% {opacity:1;}
  60% {opacity:1;}
  70% {opacity:1;}
  80% {opacity:1;}
  90% {opacity:1;}
  100% {opacity:1;}
}
@keyframes bottom-left-10 {
  0% {opacity:1;}
  9.999% {opacity:1;}
  10% {opacity:.1;}
  19.999% {opacity:.1;}
  20% {opacity:1;}
  29.999% {opacity:1;}
  30% {opacity:.1;}
  40% {opacity:.1;}
  50% {opacity:.1;}
  59.999% {opacity:.1;}
  60% {opacity:1;}
  69.999% {opacity:1;}
  70% {opacity:.1;}
  79.999% {opacity:.1;}
  80% {opacity:1;}
  89.999% {opacity:1;}
  90% {opacity:.1;}
  100% {opacity:.1;}
}
@keyframes bottom-10 {
  0% {opacity:1;}
  9.999% {opacity:1;}
  10% {opacity:.1;}
  19.999% {opacity:.1;}
  20% {opacity:1;}
  30% {opacity:1;}
  39.999% {opacity:1;}
  40% {opacity:.1;}
  49.999% {opacity:.1;}
  50% {opacity:1;}
  60% {opacity:1;}
  69.999% {opacity:1;}
  70% {opacity:.1;}
  79.999% {opacity:.1;}
  80% {opacity:1;}
  90% {opacity:1;}
  100% {opacity:1;}
}
@keyframes top-6 {
  0% {opacity:1;}
  16.665% {opacity:1;}
  16.666% {opacity:.1;}
  33.332% {opacity:.1;}
  33.333% {opacity:1;}
  50% {opacity:1;}
  66.665% {opacity:1;}
  66.666% {opacity:.1;}
  83.332% {opacity:.1;}
  83.333% {opacity:1;}
  100% {opacity:1;}
}
@keyframes top-right-6 {
  0% {opacity:1;}
  16.666% {opacity:1;}
  33.333% {opacity:1;}
  50% {opacity:1;}
  66.666% {opacity:1;}
  83.332% {opacity:1;}
  83.333% {opacity:.1;}
  100% {opacity:.1;}
}
@keyframes top-left-6 {
  0% {opacity:1;}
  16.665% {opacity:1;}
  16.666% {opacity:.1;}
  33.333% {opacity:.1;}
  50% {opacity:.1;}
  66.665% {opacity:.1;}
  66.666% {opacity:1;}
  83.333% {opacity:1;}
  100% {opacity:1;}
}
@keyframes middle-6 {
  0% {opacity:.1;}
  16.666% {opacity:.1;}
  33.332% {opacity:.1;}
  33.333% {opacity:1;}
  50% {opacity:1;}
  66.666% {opacity:1;}
  83.333% {opacity:1;}
  100% {opacity:1;}
}
@keyframes bottom-right-6 {
  0% {opacity:1;}
  16.666% {opacity:1;}
  33.332% {opacity:1;}
  33.333% {opacity:.1;}
  49.999% {opacity:.1;}
  50% {opacity:1;}
  66.666% {opacity:1;}
  83.333% {opacity:1;}
  100% {opacity:1;}
}
@keyframes bottom-left-6 {
  0% {opacity:1;}
  16.665% {opacity:1;}
  16.666% {opacity:.1;}
  33.332% {opacity:.1;}
  33.333% {opacity:1;}
  49.999% {opacity:1;}
  50% {opacity:.1;}
  66.666% {opacity:.1;}
  83.333% {opacity:.1;}
  100% {opacity:.1;}
}
@keyframes bottom-6 {
  0% {opacity:1;}
  16.665% {opacity:1;}
  16.666% {opacity:.1;}
  33.332% {opacity:.1;}
  33.333% {opacity:1;}
  50% {opacity:1;}
  66.665% {opacity:1;}
  66.666% {opacity:.1;}
  83.332% {opacity:.1;}
  83.333% {opacity:1;}
  100% {opacity:1;}
}

.particle, .separator {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}
.particle.top { animation-name: top-10; }
.particle.top.right { animation-name: top-right-10; }
.particle.top.left { animation-name: top-left-10; }
.particle.middle { animation-name: middle-10; }
.particle.bottom.right { animation-name: bottom-right-10; }
.particle.bottom.left { animation-name: bottom-left-10; }
.particle.bottom { animation-name: bottom-10; }

.d6 .particle.top { animation-name: top-6; }
.d6 .particle.top.right { animation-name: top-right-6; }
.d6 .particle.top.left { animation-name: top-left-6; }
.d6 .particle.middle { animation-name: middle-6; }
.d6 .particle.bottom.right { animation-name: bottom-right-6; }
.d6 .particle.bottom.left { animation-name: bottom-left-6; }
.d6 .particle.bottom { animation-name: bottom-6; }

.dp1 .particle { animation-duration: .1s; }
.dp10 .particle { animation-duration: 1s; }
.dp100 .particle { animation-duration: 10s; }
.dp1000 .particle { animation-duration: 60s; }
.dp10000 .particle { animation-duration: 600s; }
.dp100000 .particle { animation-duration: 3600s; }

.separator {
  animation-name: flash;
  animation-duration: 1s;
}

#button1:checked ~ .digit .particle,
#button1:checked ~ .separator {
  animation-play-state: running;
}
#button2:checked ~ .digit .particle,
#button2:checked ~ .separator {
  animation-name: initial-visible;
}
#button2:checked ~ .digit .particle.middle {
  animation-name: initial-hidden;
}


input{ 
    /* removes default styling from input color element */
    padding: 0;
    border: none; 
    /* makes input (color swatch) 100% size of container */
    position: absolute;
    width: 100%; 
    height: 100%;
    /* mix blend mode makes the color of the swatch alter the image behind it. */
    mix-blend-mode: hue; /* try screen, multiply or other blend modes for different effects */
    cursor: pointer;
}

/* removes default styling from input color element */
::-webkit-color-swatch {
    border: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
    border: none;
}

::-moz-focus-inner {
    padding: 0;
}

.card-container {
  cursor: pointer;
  height: 250px;
  perspective: 600;
  position: relative;
  width: 250px;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}
.soleil{
  height: 50%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 50%;
}
.back p{
  position: absolute;
  font-weight: 300;
  font-size:30px;
  bottom:0;
  margin-left: 10px;
}
.back h1{
  position: absolute;
  font-weight: 300;
  font-size:30px;
  bottom:0;
  margin-left: 80px;
}
